<div id="title">
  <div class="main">Dᛜᛜmᛇcrᛜᛂᛂ</div>
  <div class="sub">Scroll to the highest level</div>
</div>

<div id="play">
  <a href="https://play.doomscroll.xyz">
    <div class="button">PLAY</div>
  </a>
</div>

<div id="info" class="block">
  <div class="block_content">
    <div class="picture_left">
      <img src="../assets/screen/menu.png" alt="screen menu">
    </div>
    <div class="content">
      <div class="quote">
        <div class="part">
          Doomscrolling can be defined as the excessive consumption of vertical, short-form videos for a
          long period of time, without knowing the amount of time passed.
        </div>
        <div>
          In the context of doomscrolling, a design feature known as the "infinite scroll" plays a pivotal role in
          perpetuating this behavior. This feature is a mechanism that allows a social media user to "infinitely
          scroll",
          as the software is continuously loading new content and creating an endless stream of information.
          Consequently,
          this feature can exacerbate doomscrolling as it removes natural stopping points that a user might pause at.
        </div>
      </div>
      <div class="quote_source">Wikipedia</div>

      <div>
        This game intend to gamify the concept of "doomscrolling".<br>
        Mindlessly scroll down, change the symbols to complete a level and beat the timer to get the highest score.
      </div>

      <div class="picture_mobile">
        <img src="../assets/screen/menu.png" alt="screen menu">
      </div>
    </div>
  </div>

</div>

<div id="game" class="block color">
  <div class="block_content">
    <div class="content">
      <div class="title">Gameplay</div>
      <div class="item">
        <b>Scroll down and click</b> on the symbols to change them all.
      </div>
      <div class="item">
        Complete a level by changing all the symbols to <b>match the model</b> defined at the start of the level. Be
        fast, you only have a few seconds to complete a level.
      </div>
      <div class="item">
        New symbols will be added as you are progressing in the levels. Eventually symbols will even change position !
      </div>
      <div class="item">
        <b>Earn points</b> by reaching the highest level possible. Earn even more points by completing levels as fast as
        possible.
      </div>

      <div class="picture_mobile">
        <img src="../assets/screen/gameplay.png" alt="screen gameplay">
      </div>
    </div>
    <div class="picture_right">
      <img src="../assets/screen/gameplay.png" alt="screen gameplay">
    </div>
  </div>
</div>

<div id="ranking" class="block">
  <div class="block_content">
    <div class="picture_left">
      <img src="../assets/screen/ranking.png" alt="screen ranking">
    </div>
    <div class="content">
      <div class="title">Ranking</div>
      <div class="item">
        <b>Register</b> to add your name to the ranking.
      </div>
      <div class="item">
        Compare your score with all other <b>players around the world</b>. Increase your rank and try to be the best.
      </div>
      <div class="item">
        Earn enough points to get into the <b>Top 10</b> and show your score to everyone.
      </div>

      <div class="picture_mobile">
        <img src="../assets/screen/ranking.png" alt="screen ranking">
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="item">© 2024 Doomscroll</div>
  <div class="item">|</div>
  <div><a href="/privacy">Privacy</a></div>
</div>
